body {
  background-color: #f2f2f2;
  font: 15pt sans-serif;
}

.App {
  float: right;
  padding: 30px;
  text-align: center;
  width: 40%;
}

.App-header {
  background-color: #f44336;
  border-top: 20px solid #aa2e25;
  max-height: 40px;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  width: 90%;
}

.feedback-form {
  margin: 0 auto;
  width: 70%;
}

legend {
  color: #932020;
}

.review-container {
  padding: 35px;
  text-align: center;
  width: 36%;
}

.review-header {
  border-top: 22px solid #aa2e25;
  max-height: 20px;
  padding: 20px;
}

.review {
  margin: 0 auto;
  padding: 15px;
  width: 70%;
}

.rating {
  border: 1px solid #cccccc;
  height: 360px;
}

.textarea {
  height: 80%;
  width: 90%;
}