.App {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 60%;
}

.App-header {
  background-color: #80d8ff;
  border-top: 20px solid #5997b2;
  min-height: 70px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.review {
  float: left;
  width: 40%;
}

.feedback-form {
  float: right;
  width: 60%;
}

.rating {
  height: 350px;
}

.textarea {
  height: 80%;
  width: 90%;
}